* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}    

span {
    color: black;
}

/* Original styles.css content, modified for asset path */
.name-container { /* Renamed from #name to .name-container for component styling */
    background-image: url('./assets/wood-bg.jpg'); 
    background-size: 800px 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: scroll;
}

/* Base CV structure styles from cv.html */
#cv {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 84, 138);
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#body {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#skills-section { /* Renamed from #skills */
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-color: rgba(57, 67, 29, 0.813);
    padding: 0px;
    border-radius: 0px;
    color: black;
    width: 250px;
}

#experience-certifications {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.experience-box { /* Applied to Experience and Certifications */
    background-color: rgba(57, 67, 29, 0.813);
    padding: 20px 20px 20px 10px;
    color: black;
}

#experience-box {
    margin-bottom: 0px;
    border: 5px solid;
    border-color: black;
}

#certifications-box {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: lightslategray;
    color: black;
}